# IDE/Code Editor Specific
.vs/
.vscode/

# Binary Outputs
Binaries/
Binaries-Int/

# Log Outputs
*.log

# Generated Project Files
*.sln
*.vcxproj
*.filters
*.user
*.mk
Makefile
/Makefile
**/Makefile
