[submodule "Color/ThirdParty/spdlog"]
	path = Color/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Color/ThirdParty/glm"]
	path = Color/ThirdParty/glm
	url = https://github.com/g-truc/glm
